@use "colorschemes";

* {
    margin: 0;
    padding: 0;
    color: colorschemes.$text;
    font-size: 14pt;
}

body {
    font-family: "Hedvig Letters Sans";
    background-color: colorschemes.$background;
}

a {
    text-decoration: none;
}

nav {
    width: vw;
    height: 71px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: colorschemes.$primary;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);

    a {
        font-size: 16px;
        text-align: center;
        padding: 16px;
    }

    a:hover {
        text-decoration: underline;
    }

    .logo {
        font-weight: bold;
        font-size: 16pt;
    }
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    height: 90%;
    width: 768px;

    .homepage-content {
        height: 499px;
        padding: 60px;
        background-color: colorschemes.$primary;
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);

        .profile {
            margin-top: 64.5px;
            margin-bottom: 16px;
            display: flex;
            flex-direction: row;

            .text {
                .name {
                    font-size: 60px;
                }
            }

            img {
                width: 117px;
                height: 175px;
                object-fit: cover;
                border-radius: 19px;
            }
        }

        .about-me {
            h3 {
                font-size: 30px;
            }
        }
    }
}

.pd-10 {
    padding-bottom: 10px;
}

.padding {
    width: 100%;
    flex: 1;
}
