---
const { name = "Just Kwa", summary = `
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
euismod, nisl eget consectetur sagittis, nisl nunc consectetur nisi, euismod aliquam nisl nunc euismod.`} = Astro.props;
import WavyText from '@/components/WavyText.tsx';
---
<div class="flex flex-row w-full">
  <!-- Left: image placeholder -->
  <div class="w-1/4 min-h-full retro-dialogue">
    <div
      class="bg-gray-200 p-4 flex items-center justify-center w-full h-full"
    >
      <span class="text-gray-500 text-lg">Image Placeholder</span>
    </div>
  </div>

  <!-- Right: intro text with overlay -->
  <div class="w-full ml-auto h-full retro-dialogue flex flex-col">
    <h1 class="font-bold absolute left-2 top-1">{name}</h1>
    <div class="mt-14 px-2">
      <WavyText initial='Hello!' client:load/>
    </div>
    <p class="leading-relaxed summmary-text pl-2 pr-2 pb-2 text-justify" set:html={summary}>
    </p>
  </div>
</div>
<style>
.summary-text {
  line-height: 1.5 !important;
}
</style>
